#languages li {
    color: brown;
}
#languages > li {
    color: black;
}
#e-slavic {
    font-style: italic;
}
#e-slavic ~ li {
    color: red;
}
#latvian {
    font-style: italic;
}
#latvian * {
    font-style: normal;
}
#latvian + li {
    color: green;
}
code {
    border: 1px solid black;
}